@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Try our <a asp-area="" asp-controller="Demo" asp-action="Index">Demo</a>.</p>
</div>
